---
layout: base
---

  <div class="title">
    <!-- <a href="/"><img class="logo" src="/images/kong.png"/></a> -->
    <div>
      <a href="/">KONG</a> 
      <span>to live is to have positive impact on others </span> 

      <!-- <a href="/">KONG</a>  -->
      
      <!--<a class="extra" href="/">home</a>-->
      
    </div>
  </div>
  

  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a target="_blank" href="http://twitter.com/athanhcong/">@athanhcong</a>

      </p>

    </div>
    <div class="contact">
      <p>
        <a target="_blank" href="http://blogwith.co/">BlogWith - Connect Evernote to your blog</a><br />
        <a target="_blank" href="http://30d.me/challenge/ios/">30 Day iOS Challenge</a><br />
        <a target="_blank" href="https://itunes.apple.com/app/id654745890">Promise - Building good habits</a><br />        

      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/athanhcong">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>